---
layout: archive
title: "honors-awards"
permalink: /honors-awards/
author_profile: true
redirect_from:
  - /resume
---

{% include base_path %}

Education
======
[1]Outstanding Graduates of Shaanxi Province,Shaanxi Province,July 2023. 1
2) Outstanding Graduates,Northwestern Polytechnical University,March 2023.

[3] National Scholarship for Doctoral Students,Northwestern Polytechnical University,December 2021.

[4]Excellent Postgraduates, Northwestern Polytechnical University, 2018-2021.
[5| Outstanding Graduates,Chang'an University,June 2018.

16| Excellent Postgraduates,Chang'an University,2015-2017.

17| National Scholarship for Master Students,Chang'an University,December 2016.

[8]The 10-th"Challenge Cup"National College Student Business Plan Competition,National Bronze Award,November 2016.

[9] The eighth International Contest of innovAtioN (ICAN),National Bronze Award,September 2014.

Work experience
======
* Summer 2015: Research Assistant
  * Github University
  * Duties included: Tagging issues
  * Supervisor: Professor Git

* Fall 2015: Research Assistant
  * Github University
  * Duties included: Merging pull requests
  * Supervisor: Professor Hub





<!-- ---
layout: archive
title: "Honors & Awards"
permalink: /honors-awards/
author_profile: true
---

{% include base_path %}

{% for post in site.honors-awards reversed %}
  {% include archive-single.html %}
{% endfor %}
 -->
