---
layout: archive
title: "Honors & Awards"
permalink: /honors-awards/
author_profile: true
redirect_from:
  - /resume
hide_title: true
---

<!-- {% include base_path %} -->
[1]. Outstanding Graduates of Shaanxi Province,Shaanxi Province,July 2023.<br>
<br>
[2]. Outstanding Graduates,Northwestern Polytechnical University,March 2023.<br>
<br>
[3]. National Scholarship for Doctoral Students,Northwestern Polytechnical University,December 2021.<br>
<br>
[4]. Excellent Postgraduates, Northwestern Polytechnical University, 2018-2021.<br>
<br>
[5]. Outstanding Graduates,Chang'an University,June 2018.<br>
<br>
[6]. Excellent Postgraduates,Chang'an University,2015-2017.<br>
<br>
[7]. National Scholarship for Master Students,Chang'an University,December 2016.<br>
<br>
[8]. The 10-th"Challenge Cup"National College Student Business Plan Competition,National Bronze Award,November 2016.<br>
<br>
[9]. The eighth International Contest of innovAtioN (ICAN),National Bronze Award,September 2014.<br>
<br>






<!-- ---
layout: archive
title: "Honors & Awards"
permalink: /honors-awards/
author_profile: true
---

{% include base_path %}

{% for post in site.honors-awards reversed %}
  {% include archive-single.html %}
{% endfor %}
 -->
