---
layout: archive
title: "honors-awards"
permalink: /honors-awards/
author_profile: true
redirect_from:
  - /resume
---

<!-- {% include base_path %} -->
<p>[1]. Outstanding Graduates of Shaanxi Province,Shaanxi Province,July 2023.</p>

<p>[2]. Outstanding Graduates,Northwestern Polytechnical University,March 2023.</p>

<p>[3]. National Scholarship for Doctoral Students,Northwestern Polytechnical University,December 2021.</p>

<p>[4]. Excellent Postgraduates, Northwestern Polytechnical University, 2018-2021.</p>

<p>[5]. Outstanding Graduates,Chang'an University,June 2018.</p>

<p>[6]. Excellent Postgraduates,Chang'an University,2015-2017.</p>

<p>[7]. National Scholarship for Master Students,Chang'an University,December 2016.</p>

<p>[8]. The 10-th"Challenge Cup"National College Student Business Plan Competition,National Bronze Award,November 2016.</p>

<p>[9]. The eighth International Contest of innovAtioN (ICAN),National Bronze Award,September 2014.</p>






<!-- ---
layout: archive
title: "Honors & Awards"
permalink: /honors-awards/
author_profile: true
---

{% include base_path %}

{% for post in site.honors-awards reversed %}
  {% include archive-single.html %}
{% endfor %}
 -->
