---
layout: archive
title: "Professional Services"
hide_title: true
permalink: /professional-services/
author_profile: true
---

<h2>EDITOR BOARD & TPC MEMBER</h2>

<p>[1]. Remote Sensing, Special Issue: Self-Supervised Learning in Remote Sensing, Lead Guest Editor, October, 2022.<br></p>

<p>[2]. International Conference on Computer Science and Application Engineering, Program Committee, October 21-22, 2022, Nanjing, China.<br></p>

<p>[3]. IEEE International Conference on Information, Communication and Networks, Program Committee, August 17-20, 2023, Xi'an, China.<br></p>

<p>[4]. International Conference on Vision, Image and Signal Processing, Technical Committee, November 24-26, 2023, Dali, China.<br></p>

<p>[5]. International Workshop on Signal Processing and Machine Learning, Technical Committee, September 22-24, 2023, Hangzhou, China.<br></p>

<p>[6]. International Conference on Advances in Computer Technology, Information Science and Communications, Technical Committee, April 26-28, 2024, Sanya, China.<br></p>

<p>[7]. International Conference on Computing, Information Science and System, Technical Program Committee, May 10-12, 2024, Xiamen, China.<br></p>

<h2>REVIEWERS & MEMBERSHIP</h2>

<h3>Regular Reviewers</h3>

<ul>
  <li>IEEE GRSL</li>
  <li>IEEE JSTARS</li>
  <li>IEEE KDE</li>
  <li>IEEE TAI</li>
  <li>IEEE TGRS</li>
  <li>IEEE TIE</li>
  <li>IEEE TIP</li>
  <li>IEEE TNSE</li>
  <li>IEEE TMC</li>
  <li>IEEE TMM</li>
  <li>IEEE TPAMI</li>
  <li>IEEE TCYB</li>
  <li>Information Fusion</li>
  <li>IET Image Processing</li>
  <li>Remote Sensing</li>
  <li>SPL</li>
  <li>UJRS</li>
  etc.</li>
</ul>


<h3>Membership</h3>

<ul>
  <li>IEEE Member</li>
  <li>China Graphics Society Senior Member</li>
  <li>Chinese Association for Artificial Intelligence Member</li>
  <li>Shaanxi Province Society of Image and Graphics Member</li>
</ul>







<!--
---
layout: archive
title: "Professional Services"
permalink: /professional-services/
author_profile: true
---

{% include base_path %}


{% for post in site.professional-services %}
  {% include archive-single.html %}
{% endfor %}

<!-- {% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% endif %}

{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}
 -->
