---
layout: archive
title: "Project"
hide_title: true
permalink: /project/
author_profile: true
---

<h2>Project Leader</h2>

<p class="justify-text">[1] Multiclass Defects Intelligent Detection via Vision Under Complex Conditions, Key Research and Development Program of Shaanxi Province, Ongoing.</p>

<p class="justify-text">[2] Remote Sensing Image Enhancement Technology for Aerial Detection, Shaanxi Province Postdoctoral Foundation Program, September 23, 2023, to September 22, 2024, Ongoing.</p>

<p class="justify-text">[3] Multilevel Image Sharpening Method for Non-uniform Hyperspectral Remote Sensing Images, National Natural Science Foundation of China, Youth Project, January 01, 2024, to December 31, 2025, Ongoing.</p>

<p class="justify-text">[4] Remote Sensing Image Visual Perception Enhancement from High Viewpoint, China Postdoctoral Science Foundation Program, June 29, 2023, to June 30, 2024, Ongoing.</p>

<p class="justify-text">[5] Quality Improvement of Low-Perception Remote Sensing Images, New Teacher Innovation Fund, January 01, 2022, to December 31, 2024, Ongoing.</p>


<h2>Participation</h2>

<p class="justify-text">[1] Visual Object Depth Level Perception and Understanding in Complex Dynamic Environment, Joint Fund Project of National Natural Science Foundation of China, January 01, 2022, to December 31, 2025, Ongoing.</p>

<p class="justify-text">[2] UDC Clarity Enhancement Technology, Huawei Terminal Technology Co., Ltd, November 01, 2019, to October 31, 2020, Completion.</p>





<!-- 
{% include base_path %}


{% for post in site.project %}
  {% include archive-single.html %}
{% endfor %}
