/* styles.css */

/* 两端对齐 */
.justify-text {
  text-align: justify;
}

/* 两端对齐 */
.profile-container {
  text-align: justify;
}

/* 表格 */
.profile-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1em;
}

.profile-table th, .profile-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.profile-table th {
  background-color: #333;
  color: white;
}

/* 去下超链接划线 */
.no-underline {
  text-decoration: none!important;
}


/* 序号 */
.custom-list {
  list-style-type: none;
  counter-reset: custom-counter;
}

.custom-list li {
  counter-increment: custom-counter;
  margin-bottom: 0.5em;
}

.custom-list li:before {
  content: "[" counter(custom-counter) "]";
  margin-right: 0.5em;
  vertical-align: middle; /* 垂直居中对齐 */
  display: inline-block; /* 设置为行内块级元素 */
  width: 2em; /* 可以根据实际情况调整宽度 */
  text-align: right; /* 右对齐 */
}

/* 文字|图片 
.paper-box {
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    border-bottom: 1px #efefef solid;
    padding: 2em 0 2em 0;

    .paper-box-image {
        justify-content: center;
        display: flex;
        width: 100%;
        order: 2;

        img {
            max-width: 400px;
            box-shadow: 3px 3px 6px #888;
            object-fit: cover;
        }
    }

    .paper-box-text {
        max-width: 100%;
        order: 1;
    }

    @include breakpoint($medium) {
        .paper-box-image {
            justify-content: left;
            min-width: 200px;
            max-width: 35%;
            order: 1;
        }

        .paper-box-text {
            justify-content: left;
            padding-left: 2em;
            max-width: 65%;
            order: 2;
        }
    }
}

$scroll_offset: 2em;

h1:before,
.anchor:before {
    content: '';
    display: block;
    position: relative;
    width: 0;
    height: $scroll_offset;
    margin-top: -$scroll_offset;
}

.badge {
    padding-left: 1rem;
    padding-right: 1rem;
    position: absolute;
    margin-top: .5em;
    margin-left: -.5em;
    color: white;
    background-color: #00369f;
    font-size: .8em;
}
 */
