/* styles.css */

/* 两端对齐 */
.justify-text {
  text-align: justify;
}

/* 两端对齐 */
.profile-container {
  text-align: justify;
}

/* 表格 */
.profile-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1em;
}

.profile-table th, .profile-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.profile-table th {
  background-color: #333;
  color: white;
}

/* 去下超链接划线 */
.no-underline {
  text-decoration: none!important;
}




