/* styles.css */

/* 两端对齐 */
.justify-text {
  text-align: justify;
}

/* 两端对齐 */
.profile-container {
  text-align: justify;
}

/* 表格 */
.profile-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1em;
}

.profile-table th, .profile-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.profile-table th {
  background-color: #333;
  color: white;
}

/* 去下超链接划线 */
.no-underline {
  text-decoration: none!important;
}


/* 序号 */
.custom-list {
  list-style-type: none;
  counter-reset: custom-counter;
}

.custom-list li {
  counter-increment: custom-counter;
  margin-bottom: 0.5em;
}

.custom-list li:before {
  content: "[" counter(custom-counter) "]";
  margin-right: 0.5em;
  vertical-align: middle; /* 垂直居中对齐 */
  display: inline-block; /* 设置为行内块级元素 */
  width: 2em; /* 可以根据实际情况调整宽度 */
  text-align: right; /* 右对齐 */
}

/* 文字|图片 */
.content-container {
  display: flex;
  justify-content: space-between;
}

.text {
  width: 64%; /* 调整根据实际需求的宽度百分比 */
}

.image {
  width: 32%; /* 调整根据实际需求的宽度百分比 */
}

/* 可以根据需要添加其他样式 */
